* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

body {
  overflow-x: hidden; }

html {
  font-size: 65.5%; }

html {
  scroll-behavior: smooth; }

ul {
  list-style: none; }

.homePage::after {
  content: "";
  background: url(../img/linus-nylund-SfdwxMA5VIM-unsplash.jpg);
  background-color: dimgray;
  background-blend-mode: multiply;
  opacity: 0.92;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }

.homePage {
  height: 100vh;
  width: 100vw; }
  .homePage--nav {
    height: 12rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8%;
    padding-right: 4%; }
    .homePage--nav__img {
      height: 6rem; }
    .homePage--nav__ul {
      display: flex; }
      .homePage--nav__ul--li {
        height: 100%;
        color: white;
        font-size: 1.7rem;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 0.2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding: 2rem;
        margin-bottom: -1rem; }
      .homePage--nav__ul--li:hover {
        color: #dadada; }
      .homePage--nav__ul--support {
        color: white;
        font-size: 1.7rem;
        font-family: 'Coming Soon', cursive;
        -webkit-text-stroke: 1px white;
        letter-spacing: 0.1rem;
        background: orange;
        border-radius: 12px;
        padding: 2rem;
        margin-left: 3rem; }
      .homePage--nav__ul--support:hover {
        color: orange;
        background: white;
        -webkit-text-stroke: 1px orange; }
    .homePage--nav__hamburger {
      height: 2rem;
      width: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 5px solid white;
      border-bottom: 5px solid white;
      cursor: pointer;
      display: none; }
  .homePage--h1 {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem; }
    .homePage--h1__h1 {
      max-width: 45ch;
      color: white;
      text-align: center;
      font-size: 3rem;
      letter-spacing: 0.6rem;
      font-family: 'Coming Soon', cursive;
      -webkit-text-stroke: 1px white; }
  .homePage--buttons {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
    .homePage--buttons__button1 {
      color: white;
      background: none;
      border: 2px solid white;
      cursor: pointer;
      padding: 1.5rem;
      letter-spacing: 0.2rem;
      margin-right: 12rem;
      font-size: 2.5rem;
      font-family: 'Work Sans', sans-serif;
      width: 25rem; }
    .homePage--buttons__button1:hover {
      color: black;
      background: white; }
    .homePage--buttons__button2 {
      color: white;
      background: none;
      border: 2px solid white;
      cursor: pointer;
      padding: 1.5rem;
      letter-spacing: 0.2rem;
      font-size: 2.5rem;
      font-family: 'Work Sans', sans-serif;
      width: 25rem; }
    .homePage--buttons__button2:hover {
      color: black;
      background: white; }

.nav-mobile {
  height: 20rem;
  width: 40%;
  margin-left: 60%;
  background: lightskyblue;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; }
  .nav-mobile__ul {
    list-style: none;
    background: none; }
  .nav-mobile__li {
    padding: 2rem;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 0.2rem;
    background: none; }
  .nav-mobile__li:hover {
    color: #dadada; }

@media (max-width: 600px) {
  .homePage--nav {
    border: 2px solid pink;
    padding-left: 8%;
    padding-right: 8%; }
    .homePage--nav__img {
      height: 6rem; }
    .homePage--nav__ul--li {
      display: none; }
    .homePage--nav__ul--support {
      display: none; }
    .homePage--nav__hamburger {
      display: block; }
  .homePage--h1 {
    padding-top: 0rem;
    border: 2px solid pink; }
    .homePage--h1__h1 {
      max-width: 38ch;
      font-size: 2rem; }
  .homePage--buttons {
    border: 2px solid pink; }
    .homePage--buttons__button1 {
      margin-right: 3rem;
      font-size: 2rem;
      width: 20rem; }
    .homePage--buttons__button2 {
      margin-left: 3rem;
      font-size: 2rem;
      width: 20rem; } }
@media (min-width: 601px) and (max-width: 1129px) {
  .homePage--nav {
    border: 2px solid pink;
    padding-left: 8%;
    padding-right: 8%; }
    .homePage--nav__img {
      height: 6rem; }
    .homePage--nav__ul--li {
      display: none; }
    .homePage--nav__ul--support {
      display: none; }
    .homePage--nav__hamburger {
      display: block; }
  .homePage--h1 {
    padding-top: 0rem;
    border: 2px solid pink; }
    .homePage--h1__h1 {
      max-width: 38ch;
      font-size: 2rem; }
  .homePage--buttons {
    border: 2px solid pink; }
    .homePage--buttons__button1 {
      margin-right: 3rem;
      font-size: 2rem;
      width: 20rem; }
    .homePage--buttons__button2 {
      margin-left: 3rem;
      font-size: 2rem;
      width: 20rem; } }
.ourMission-container {
  height: 55rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  border: 2px solid green; }
  .ourMission-container--h2 {
    height: 30%;
    width: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid green; }
    .ourMission-container--h2__h2 {
      font-size: 3.4rem;
      font-family: 'Coming Soon', cursive;
      letter-spacing: 0.2rem;
      -webkit-text-stroke: 1px black;
      padding-top: 2rem;
      text-align: center; }
    .ourMission-container--h2__img {
      height: 6rem; }
  .ourMission-container--missionBoxes {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid green; }
    .ourMission-container--missionBoxes__box1 {
      height: 30rem;
      width: 32rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      border: 4px solid black; }
      .ourMission-container--missionBoxes__box1--h3 {
        font-size: 2.2rem;
        color: #23708a;
        -webkit-text-stroke: 0.2px #23708a;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 0.2rem;
        text-align: center;
        max-width: 20ch; }
      .ourMission-container--missionBoxes__box1--icon {
        font-size: 4rem; }
      .ourMission-container--missionBoxes__box1--text {
        font-size: 1.4rem;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        letter-spacing: 0.2rem;
        text-align: center;
        padding-left: 6%;
        padding-right: 6%; }
    .ourMission-container--missionBoxes__box2 {
      height: 30rem;
      width: 32rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      border: 4px solid black;
      text-align: center; }
      .ourMission-container--missionBoxes__box2--h3 {
        font-size: 2.2rem;
        color: #23708a;
        -webkit-text-stroke: 0.2px #23708a;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 0.2rem;
        text-align: center;
        max-width: 20ch; }
      .ourMission-container--missionBoxes__box2--icon {
        font-size: 4rem; }
      .ourMission-container--missionBoxes__box2--text {
        font-size: 1.4rem;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        letter-spacing: 0.2rem;
        text-align: center;
        padding-left: 6%;
        padding-right: 6%; }
    .ourMission-container--missionBoxes__box3 {
      height: 30rem;
      width: 32rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      border: 4px solid black;
      text-align: center; }
      .ourMission-container--missionBoxes__box3--h3 {
        font-size: 2.2rem;
        color: #23708a;
        -webkit-text-stroke: 0.2px #23708a;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 0.2rem;
        text-align: center;
        max-width: 20ch; }
      .ourMission-container--missionBoxes__box3--icon {
        font-size: 4rem; }
      .ourMission-container--missionBoxes__box3--text {
        font-size: 1.4rem;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        letter-spacing: 0.2rem;
        text-align: center;
        padding-left: 6%;
        padding-right: 6%; }

@media (max-width: 600px) {
  .ourMission-container {
    display: none; } }
@media (min-width: 601px) and (max-width: 1129px) {
  .ourMission-container {
    height: 125vh; }
    .ourMission-container--h2 {
      height: 20%; }
      .ourMission-container--h2__h2 {
        font-size: 3.2rem; }
    .ourMission-container--missionBoxes {
      height: 80%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      border: 2px solid green; }
      .ourMission-container--missionBoxes__box1 {
        height: 30rem;
        width: 28rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        border: 4px solid black; }
        .ourMission-container--missionBoxes__box1--h3 {
          font-size: 2.2rem;
          color: #23708a;
          -webkit-text-stroke: 0.2px #23708a;
          font-family: 'Work Sans', sans-serif;
          letter-spacing: 0.2rem;
          text-align: center;
          max-width: 20ch; }
        .ourMission-container--missionBoxes__box1--icon {
          font-size: 4rem; }
        .ourMission-container--missionBoxes__box1--text {
          font-size: 1.4rem;
          font-family: 'Work Sans', sans-serif;
          font-weight: 300;
          letter-spacing: 0.2rem;
          text-align: center;
          padding-left: 6%;
          padding-right: 6%; }
      .ourMission-container--missionBoxes__box2 {
        height: 30rem;
        width: 28rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        border: 4px solid black;
        text-align: center; }
        .ourMission-container--missionBoxes__box2--h3 {
          font-size: 2.2rem;
          color: #23708a;
          -webkit-text-stroke: 0.2px #23708a;
          font-family: 'Work Sans', sans-serif;
          letter-spacing: 0.2rem;
          text-align: center;
          max-width: 20ch; }
        .ourMission-container--missionBoxes__box2--icon {
          font-size: 4rem; }
        .ourMission-container--missionBoxes__box2--text {
          font-size: 1.4rem;
          font-family: 'Work Sans', sans-serif;
          font-weight: 300;
          letter-spacing: 0.2rem;
          text-align: center;
          padding-left: 6%;
          padding-right: 6%; }
      .ourMission-container--missionBoxes__box3 {
        height: 30rem;
        width: 28rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        border: 4px solid black;
        text-align: center; }
        .ourMission-container--missionBoxes__box3--h3 {
          font-size: 2.2rem;
          color: #23708a;
          -webkit-text-stroke: 0.2px #23708a;
          font-family: 'Work Sans', sans-serif;
          letter-spacing: 0.2rem;
          text-align: center;
          max-width: 20ch; }
        .ourMission-container--missionBoxes__box3--icon {
          font-size: 4rem; }
        .ourMission-container--missionBoxes__box3--text {
          font-size: 1.4rem;
          font-family: 'Work Sans', sans-serif;
          font-weight: 300;
          letter-spacing: 0.2rem;
          text-align: center;
          padding-left: 6%;
          padding-right: 6%; } }
.latestNews-container {
  height: 50rem;
  width: 100vw;
  background: url(../img/mid-ocean.jpeg);
  background-color: darkslategrey;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  border: 2px solid yellow; }
  .latestNews-container--h2 {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
    border: 2px solid yellow; }
    .latestNews-container--h2__h2 {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 3.6rem;
      font-family: 'Coming Soon', cursive;
      letter-spacing: 0.2rem;
      -webkit-text-stroke: 1px black;
      -webkit-text-stroke: 1px white;
      padding-top: 2rem; }
  .latestNews-container--newsBoxes {
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    border: 2px solid yellow; }
    .latestNews-container--newsBoxes__box1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 27rem;
      width: 35rem;
      border: 0.2px solid white;
      text-align: center;
      background: url(../img/waiwhakaiho-web.jpeg);
      background-color: grey;
      background-blend-mode: multiply;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 2rem; }
      .latestNews-container--newsBoxes__box1--h3 {
        color: white;
        padding-left: 7%;
        padding-right: 7%;
        font-family: 'Work Sans', sans-serif;
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        line-height: 140%; }
    .latestNews-container--newsBoxes__box2 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 27rem;
      width: 35rem;
      border: 0.2px solid white;
      text-align: center;
      background: url(../img/eight_col_Mangamaunu.jpeg);
      background-color: grey;
      background-blend-mode: multiply;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 2rem; }
      .latestNews-container--newsBoxes__box2--h3 {
        color: white;
        padding-left: 7%;
        padding-right: 7%;
        font-family: 'Work Sans', sans-serif;
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        line-height: 140%; }
    .latestNews-container--newsBoxes__box3 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 27rem;
      width: 35rem;
      border: 0.2px solid white;
      text-align: center;
      background: url(../img/mick_fanning.jpeg);
      background-color: grey;
      background-blend-mode: multiply;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 2rem; }
      .latestNews-container--newsBoxes__box3--h3 {
        color: white;
        padding-left: 7%;
        padding-right: 7%;
        font-family: 'Work Sans', sans-serif;
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        line-height: 140%; }
    .latestNews-container--newsBoxes h3:hover {
      font-size: 1.45rem;
      line-height: 145%;
      cursor: pointer; }
  .latestNews-container--h3 {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    border: 2px solid yellow; }
    .latestNews-container--h3__h3 {
      color: white;
      font-size: 1.6rem;
      font-family: 'Work Sans', sans-serif;
      letter-spacing: 0.1rem;
      padding-right: 6%;
      margin-bottom: 0.5%;
      cursor: pointer; }
    .latestNews-container--h3__hr {
      width: 100px;
      margin-right: 6%;
      cursor: pointer; }

.newsletterSignUp-container {
  height: 35rem;
  width: 100vw;
  display: none; }
  .newsletterSignUp-container__thankYou {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .newsletterSignUp-container__thankYou--h3 {
      text-align: center;
      font-size: 3rem;
      font-family: 'Coming Soon', cursive;
      letter-spacing: 0.2rem;
      -webkit-text-stroke: 1px black;
      padding-bottom: 2rem;
      padding-bottom: 2rem; }
    .newsletterSignUp-container__thankYou--img {
      height: 8rem; }

.newsletter-container {
  height: 35rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .newsletter-container h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    font-size: 3.6rem;
    margin-bottom: 5rem;
    letter-spacing: 0.4rem; }
  .newsletter-container--email__text {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.2rem;
    width: 45rem;
    height: 5rem;
    border: 1px solid black; }
  .newsletter-container--button {
    margin-top: 4.5rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    background: black;
    color: white;
    padding: 1.3rem;
    padding-right: 6rem;
    padding-left: 6rem;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 0.1rem;
    border: 2px solid black; }
  .newsletter-container--button:hover {
    color: black;
    background: white;
    border: 2px solid black; }

@media (max-width: 600px) {
  .latestNews-container {
    display: none; }

  .newsletter-container {
    display: none; } }
@media (min-width: 601px) and (max-width: 1129px) {
  .latestNews-container {
    height: 65vh;
    width: 100vw; }
    .latestNews-container--h2__h2 {
      font-size: 2.8rem; }
    .latestNews-container--newsBoxes__box1 {
      height: 25rem;
      width: 28rem; }
      .latestNews-container--newsBoxes__box1--h3 {
        color: white;
        padding-left: 7%;
        padding-right: 7%;
        font-family: 'Work Sans', sans-serif;
        font-size: 1.4rem;
        letter-spacing: 0.1rem; }
    .latestNews-container--newsBoxes__box2 {
      display: none; }
    .latestNews-container--newsBoxes__box3 {
      height: 25rem;
      width: 28rem; }
      .latestNews-container--newsBoxes__box3--h3 {
        color: white;
        padding-left: 7%;
        padding-right: 7%;
        font-family: 'Work Sans', sans-serif;
        font-size: 1.4rem;
        letter-spacing: 0.1rem; }
    .latestNews-container--newsBoxes h3:hover {
      font-size: 1.45rem;
      line-height: 140%;
      cursor: pointer; }
    .latestNews-container--h3 {
      height: 15%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column; }
      .latestNews-container--h3__h3 {
        color: white;
        font-size: 1.6rem;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 0.1rem;
        padding-right: 6%;
        margin-bottom: 0.5%;
        cursor: pointer; }
      .latestNews-container--h3__hr {
        width: 100px;
        margin-right: 6%;
        cursor: pointer; }

  .newsletter-container h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 5rem;
    letter-spacing: 0.4rem; }
  .newsletter-container--email__text {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.2rem;
    width: 45rem;
    height: 5rem;
    border: 1px solid black; }
  .newsletter-container--button {
    margin-top: 4.5rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    background: black;
    color: white;
    padding: 1.3rem;
    padding-right: 6rem;
    padding-left: 6rem;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 0.1rem;
    border: 2px solid black; }
  .newsletter-container--button:hover {
    color: black;
    background: white;
    border: 2px solid black; } }
.partners-container {
  height: 18rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: #262626;
  border: 1px solid #262626; }
  .partners-container--h3 {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .partners-container--h3__text {
      font-family: 'Work Sans', sans-serif;
      font-size: 1.6rem;
      color: white;
      text-align: center; }
  .partners-container--logos {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px; }
    .partners-container--logos__logo {
      height: 110px; }
    .partners-container--logos__logo1 {
      height: 100px; }
    .partners-container--logos__logo2 {
      height: 90px; }

.footer-container {
  height: 25rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8%;
  padding-right: 8%;
  background: #262626; }
  .footer-container--row1__h3 {
    font-family: 'Coming Soon', cursive;
    color: white;
    text-align: center;
    font-size: 1.7rem;
    max-width: 30ch; }
  .footer-container--row1__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem; }
    .footer-container--row1__socials--img1 {
      color: white;
      font-size: 4rem;
      margin-right: 1rem;
      margin-left: 1rem; }
    .footer-container--row1__socials--img1:hover {
      color: #23708a; }
    .footer-container--row1__socials--img2 {
      color: white;
      font-size: 3.7rem;
      margin-right: 1rem;
      margin-left: 1rem; }
    .footer-container--row1__socials--img2:hover {
      color: #23708a; }
    .footer-container--row1__socials--img3 {
      font-size: 4.2rem;
      color: white;
      margin-right: 1rem;
      margin-left: 1rem; }
    .footer-container--row1__socials--img3:hover {
      color: #23708a; }
    .footer-container--row1__socials--img4 {
      color: white;
      font-size: 3.7rem;
      margin-right: 1rem;
      margin-left: 1rem; }
    .footer-container--row1__socials--img4:hover {
      color: #23708a; }
  .footer-container--row2__li {
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 1.7rem;
    text-align: center;
    padding: 0.8rem;
    letter-spacing: 0.2rem; }
  .footer-container--row2__li:hover {
    color: #23708a; }
  .footer-container--row3 {
    display: flex;
    flex-direction: column;
    margin-right: 6%; }
    .footer-container--row3__h2 {
      color: white;
      text-align: center;
      font-size: 2.4rem;
      padding: 2rem;
      font-family: 'Coming Soon', cursive; }
    .footer-container--row3__li {
      font-family: 'Work Sans', sans-serif;
      color: white;
      font-size: 1.7rem;
      text-align: center;
      padding: 0.8rem;
      letter-spacing: 0.2rem; }
    .footer-container--row3__li:hover {
      color: #23708a; }

@media (max-width: 600px) {
  .partners-container {
    display: none; }

  .footer-container {
    display: none; } }
@media (min-width: 601px) and (max-width: 1129px) {
  .partners-container {
    display: none; }

  .footer-container {
    justify-content: space-around; }
    .footer-container--row1 {
      display: none; }
    .footer-container--row2__li {
      margin-left: 3rem;
      margin-top: 0.6rem; }
    .footer-container--row3 {
      margin-right: 0%; } }
.nav {
  height: 12rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8%;
  padding-right: 4%;
  background: url(../img/navBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .nav__img {
    height: 6rem; }
  .nav__ul {
    display: flex; }
    .nav__ul--active {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column; }
    .nav__ul--li {
      height: 100%;
      color: white;
      font-size: 1.7rem;
      font-family: 'Work Sans', sans-serif;
      letter-spacing: 0.2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding: 2rem;
      margin-bottom: -1rem; }
    .nav__ul--wave {
      height: 0.4rem; }
    .nav__ul li:hover {
      color: #dadada; }
    .nav__ul--support {
      color: white;
      font-size: 1.7rem;
      font-family: 'Coming Soon', cursive;
      -webkit-text-stroke: 1px white;
      letter-spacing: 0.1rem;
      background: orange;
      border-radius: 12px;
      padding: 2rem;
      margin-left: 3rem; }
    .nav__ul--support:hover {
      color: orange;
      background: white;
      -webkit-text-stroke: 1px orange; }
  .nav__hamburger {
    height: 2rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    cursor: pointer;
    display: none; }

@media (max-width: 600px) {
  .nav {
    padding-left: 8%;
    padding-right: 8%; }
    .nav__img {
      height: 6rem; }
    .nav__ul {
      display: flex; }
      .nav__ul--active {
        display: none; }
      .nav__ul--li {
        display: none; }
      .nav__ul--wave {
        display: none; }
      .nav__ul--support {
        display: none; }
    .nav__hamburger {
      display: block; } }
@media (min-width: 601px) and (max-width: 1129px) {
  .nav {
    padding-left: 8%;
    padding-right: 8%; }
    .nav__img {
      height: 6rem; }
    .nav__ul {
      display: flex; }
      .nav__ul--active {
        display: none; }
      .nav__ul--li {
        display: none; }
      .nav__ul--wave {
        display: none; }
      .nav__ul--support {
        display: none; }
    .nav__hamburger {
      display: block; } }
.header-master {
  height: 12rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .header-master--message {
    border: 2px solid pink;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    max-width: 110ch;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    line-height: 130%; }

@media (max-width: 600px) {
  .header-master {
    display: none; } }
@media (min-width: 601px) and (max-width: 1129px) {
  .header-master--message {
    font-size: 1.2rem;
    margin-left: 2%;
    margin-right: 2%; } }
.beginnings-container {
  height: 40rem;
  width: 100vw;
  display: flex;
  background: url(../img/underwater-near-ocean-surface-with-rising-bubbles-in-blue-sea-incredivfx.jpeg);
  background-color: #374045;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .beginnings-container--left {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 2%;
    border: 2px solid pink; }
    .beginnings-container--left__h1 {
      font-family: 'Coming Soon', cursive;
      font-size: 3rem;
      color: white;
      letter-spacing: 0.2rem;
      margin-bottom: 5%; }
    .beginnings-container--left__p {
      font-family: 'Work Sans', sans-serif;
      font-weight: 300;
      font-size: 1.4rem;
      color: white;
      letter-spacing: 0.2rem;
      margin-right: 17%;
      line-height: 130%;
      width: 60ch; }
  .beginnings-container--right {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid pink; }
    .beginnings-container--right__img {
      height: 35rem;
      border-radius: 2%;
      padding-left: 2rem; }

@media (max-width: 600px) {
  .beginnings-container {
    display: none; } }
@media (min-width: 601px) and (max-width: 1129px) {
  .beginnings-container--left {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0%;
    padding-top: 0%; }
    .beginnings-container--left__h1 {
      font-size: 2.8rem;
      margin-bottom: 0%;
      text-align: center; }
    .beginnings-container--left__p {
      font-size: 1.3rem;
      margin-right: 0%;
      line-height: 130%;
      width: 60ch;
      padding-top: 3rem;
      text-align: center; }
  .beginnings-container--right {
    display: none; } }
.crew-container {
  height: 55rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  border: 2px solid green; }
  .crew-container--header {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid green; }
    .crew-container--header__h2 {
      font-size: 3.4rem;
      font-family: 'Coming Soon', cursive;
      letter-spacing: 0.2rem;
      -webkit-text-stroke: 1px black;
      padding-top: 2rem;
      text-align: center; }
    .crew-container--header__img {
      height: 6rem; }
  .crew-container--profiles {
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid green; }
    .crew-container--profiles__profile {
      text-align: center; }
      .crew-container--profiles__profile--img {
        height: 22rem;
        width: 28rem;
        border-radius: 2%; }
      .crew-container--profiles__profile--h2 {
        margin-top: 2rem;
        font-size: 2rem;
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        letter-spacing: 0.2rem; }
      .crew-container--profiles__profile--h3 {
        margin-top: 0.5rem;
        font-size: 1.5rem;
        font-family: 'Coming Soon', cursive;
        letter-spacing: 0.3rem;
        color: #23708a; }

@media (max-width: 600px) {
  .crew-container {
    display: none; } }
@media (min-width: 601px) and (max-width: 1129px) {
  .crew-container {
    height: 115vh; }
    .crew-container--header {
      height: 20%; }
    .crew-container--profiles {
      height: 80%;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-wrap: wrap; }
      .crew-container--profiles__profile {
        text-align: center; }
        .crew-container--profiles__profile--img {
          height: 21rem;
          width: 27rem; }
        .crew-container--profiles__profile--h2 {
          font-size: 1.8rem; }
        .crew-container--profiles__profile--h3 {
          font-size: 1.3rem; } }
.membershipDonation-container {
  height: 38rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../img/dwdscvds.jpeg);
  background-color: #374045;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #4d4d4d; }
  .membershipDonation-container--h1 {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 3.2rem;
    letter-spacing: 0.8rem;
    text-align: center; }
  .membershipDonation-container--h3 {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.3rem;
    text-align: center;
    max-width: 78ch;
    padding-top: 6rem;
    padding-bottom: 6rem;
    line-height: 130%; }
  .membershipDonation-container--button {
    color: white;
    background: none;
    border: 2px solid white;
    cursor: pointer;
    padding: 1.5rem;
    letter-spacing: 0.2rem;
    font-size: 2.2rem;
    font-family: 'Work Sans', sans-serif;
    width: 25rem;
    text-align: center; }
  .membershipDonation-container--button:hover {
    color: black;
    background: white; }

@media (max-width: 600px) {
  .membershipDonation-container {
    display: none; } }
@media (min-width: 601px) and (max-width: 1129px) {
  .membershipDonation-container--h1 {
    font-size: 2.4rem;
    letter-spacing: 0.6rem; }
  .membershipDonation-container--h3 {
    font-size: 1.4rem;
    max-width: 64ch;
    padding-top: 5rem;
    padding-bottom: 5rem; }
  .membershipDonation-container--button {
    padding: 1.2rem;
    font-size: 1.8rem;
    width: 22rem; } }
.campaign-container {
  height: 40rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: url(../img/open-ocean_hero.jpeg);
  background-color: #474948;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid pink; }

.campaign-header {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid pink; }
  .campaign-header--h1 {
    color: white;
    font-size: 2.6rem;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 0.2rem; }

.campaign-holder {
  height: 80%;
  width: 100%;
  display: flex;
  border: 2px solid pink; }
  .campaign-holder--left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 8%;
    padding-right: 5%;
    border: 2px solid pink; }
    .campaign-holder--left__p {
      color: white;
      font-size: 1.3rem;
      font-family: 'Work Sans', sans-serif;
      font-weight: 300;
      letter-spacing: 0.1rem;
      padding-top: 1rem; }
    .campaign-holder--left__bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-top: 2rem; }
      .campaign-holder--left__bottom--button {
        font-family: 'Work Sans', sans-serif;
        font-size: 1.8;
        background: none;
        border-radius: 10px;
        border: 2px solid white;
        padding: 1rem;
        letter-spacing: 0.2rem;
        cursor: pointer;
        color: white; }
      .campaign-holder--left__bottom--button:hover {
        border: 2px solid orange;
        background: orange;
        color: white; }
      .campaign-holder--left__bottom--right {
        display: flex;
        flex-direction: column; }
        .campaign-holder--left__bottom--right hr {
          width: 9rem;
          margin-top: 0.6rem; }
      .campaign-holder--left__bottom--h3 {
        color: white;
        font-size: 1.4rem;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 0.2rem;
        cursor: pointer;
        margin-right: 3rem;
        margin-top: 1rem; }
  .campaign-holder--right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4rem; }
    .campaign-holder--right__img {
      height: 25rem;
      border-radius: 1rem; }

.campaign-second-container {
  height: 40rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  border: 2px solid pink; }

.campaign-second-header {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid pink; }
  .campaign-second-header--h1 {
    color: black;
    font-size: 2.6rem;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 0.2rem; }

.campaign-second-holder {
  height: 80%;
  width: 100%;
  display: flex;
  border: 2px solid pink; }
  .campaign-second-holder--left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10rem; }
    .campaign-second-holder--left__img {
      height: 25rem;
      border-radius: 1rem; }
  .campaign-second-holder--right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 8%;
    flex-direction: column;
    border: 2px solid pink; }
    .campaign-second-holder--right__p {
      color: black;
      font-size: 1.3rem;
      font-family: 'Work Sans', sans-serif;
      font-weight: 300;
      letter-spacing: 0.1rem;
      padding-top: 1rem; }
    .campaign-second-holder--right__bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-top: 2rem; }
      .campaign-second-holder--right__bottom--button {
        font-family: 'Work Sans', sans-serif;
        font-size: 1.8;
        background: orange;
        border-radius: 10px;
        border: 2px solid orange;
        padding: 1rem;
        letter-spacing: 0.2rem;
        cursor: pointer;
        color: white; }
      .campaign-second-holder--right__bottom--button:hover {
        background: none;
        color: orange; }
      .campaign-second-holder--right__bottom--right {
        display: flex;
        flex-direction: column; }
        .campaign-second-holder--right__bottom--right hr {
          width: 9rem;
          margin-top: 0.6rem; }
      .campaign-second-holder--right__bottom--h3 {
        color: black;
        font-size: 1.4rem;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 0.2rem;
        cursor: pointer;
        margin-right: 3rem;
        margin-top: 1rem; }

@media (max-width: 600px) {
  .campaign-container {
    display: none; }

  .campaign-second-container {
    display: none; } }
@media (min-width: 601px) and (max-width: 1129px) {
  .campaign-holder {
    justify-content: center;
    align-items: center; }
    .campaign-holder--left {
      width: 100%;
      padding-left: 6%;
      padding-right: 6%;
      text-align: center; }
      .campaign-holder--left__p {
        font-size: 1.35rem;
        padding-top: 0rem;
        padding-bottom: 1rem; }
    .campaign-holder--right {
      display: none; }

  .campaign-second-holder {
    justify-content: center;
    align-items: center; }
    .campaign-second-holder--left {
      display: none; }
    .campaign-second-holder--right {
      width: 100%;
      padding-left: 6%;
      padding-right: 6%;
      text-align: center; }
      .campaign-second-holder--right__p {
        font-size: 1.35rem;
        padding-top: 0rem;
        padding-bottom: 1rem; } }
.membership-container {
  height: 50rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid green; }

.membership-topRow {
  display: flex; }
  .membership-topRow--box1 {
    background: lightgrey;
    border: 2px solid black;
    border-bottom: none;
    cursor: pointer;
    padding: 1.6rem;
    margin-right: 2rem;
    margin-left: 2rem;
    width: 20rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem; }
    .membership-topRow--box1__h2 {
      font-family: 'Work Sans', sans-serif;
      font-size: 1.8rem;
      letter-spacing: 0.2rem;
      text-align: center; }
  .membership-topRow--box2 {
    background: none;
    border: 2px solid black;
    border-bottom: none;
    cursor: pointer;
    padding: 1.6rem;
    margin-right: 2rem;
    width: 20rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem; }
    .membership-topRow--box2__h2 {
      font-family: 'Work Sans', sans-serif;
      font-size: 1.8rem;
      letter-spacing: 0.2rem;
      text-align: center; }
  .membership-topRow--box3 {
    background: none;
    border: 2px solid black;
    border-bottom: none;
    cursor: pointer;
    padding: 1.6rem;
    margin-right: 2rem;
    width: 20rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem; }
    .membership-topRow--box3__h2 {
      font-family: 'Work Sans', sans-serif;
      font-size: 1.8rem;
      letter-spacing: 0.2rem;
      text-align: center; }

.membership-bottomBox {
  height: 33rem;
  width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black; }

.membership {
  height: 33rem;
  width: 80rem;
  display: flex;
  flex-direction: column; }
  .membership--h1 {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-align: center; }
  .membership--button {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .membership--button__but {
      background: white;
      border: 2px solid black;
      cursor: pointer;
      padding: 1.4rem;
      width: 18rem;
      text-align: center;
      font-family: 'Work Sans', sans-serif;
      font-size: 1.8rem;
      border-radius: 1rem; }
    .membership--button__but:hover {
      background: black;
      color: white; }
  .membership--middle {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
    padding-right: 16%; }
    .membership--middle__p {
      font-family: 'Work Sans', sans-serif;
      font-weight: 300;
      font-size: 1.2rem;
      letter-spacing: 0.2rem;
      width: 40ch; }
    .membership--middle__right {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .membership--middle__right--h2 {
        font-family: 'Work Sans', sans-serif;
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
        margin-left: 4rem;
        padding: 1rem; }

@media (max-width: 600px) {
  .membership-container {
    display: none; } }
@media (min-width: 601px) and (max-width: 1129px) {
  .membership-topRow--box1 {
    width: 17rem; }
    .membership-topRow--box1__h2 {
      font-size: 1.6rem; }
  .membership-topRow--box2 {
    width: 17rem; }
    .membership-topRow--box2__h2 {
      font-size: 1.6rem; }
  .membership-topRow--box3 {
    width: 17rem; }
    .membership-topRow--box3__h2 {
      font-size: 1.6rem; }

  .membership-bottomBox {
    width: 55rem; }

  .membership {
    width: 55rem; }
    .membership--h1 {
      font-size: 1.8rem; }
    .membership--button__but {
      font-size: 1.4rem; }
    .membership--middle__p {
      font-size: 1.3rem; }
    .membership--middle__right--h2 {
      font-size: 1.6rem; } }
.membership-join {
  height: 33rem;
  width: 80rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .membership-join--h1 {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 3rem;
    font-family: 'Coming Soon', cursive;
    letter-spacing: 0.2rem;
    -webkit-text-stroke: 1px black;
    text-align: center; }
  .membership-join--imgContainer {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem; }
    .membership-join--imgContainer__img {
      height: 8rem; }

.donate {
  height: 33rem;
  width: 80rem;
  display: flex;
  flex-direction: column; }
  .donate--h1 {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-align: center; }
  .donate--button {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .donate--button__but {
      background: white;
      border: 2px solid black;
      cursor: pointer;
      padding: 1.4rem;
      width: 20.6rem;
      text-align: center;
      font-family: 'Work Sans', sans-serif;
      font-size: 1.8rem;
      border-radius: 1rem; }
    .donate--button__but:hover {
      background: black;
      color: white; }
  .donate--middle {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
    padding-right: 16%; }
    .donate--middle__p {
      font-family: 'Work Sans', sans-serif;
      font-weight: 300;
      font-size: 1.2rem;
      letter-spacing: 0.2rem;
      width: 40ch; }
    .donate--middle__right {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .donate--middle__right--h2 {
        font-family: 'Work Sans', sans-serif;
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
        margin-left: 4rem;
        padding: 1rem; }

@media (min-width: 601px) and (max-width: 1129px) {
  .donate {
    width: 55rem; }
    .donate--h1 {
      font-size: 1.8rem; }
    .donate--button__but {
      font-size: 1.4rem; }
    .donate--middle {
      padding-left: 10%;
      padding-right: 10%; }
      .donate--middle__p {
        font-size: 1.3rem; }
      .donate--middle__right--h2 {
        font-size: 1.6rem; } }
.donate-join {
  height: 33rem;
  width: 80rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .donate-join--h1 {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 3rem;
    font-family: 'Coming Soon', cursive;
    letter-spacing: 0.2rem;
    -webkit-text-stroke: 1px black;
    text-align: center; }
  .donate-join--imgContainer {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem; }
    .donate-join--imgContainer__img {
      height: 8rem; }

.shop {
  height: 33rem;
  width: 80rem;
  display: flex;
  flex-direction: column; }
  .shop--h1 {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-align: center; }
  .shop--button {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .shop--button__but {
      background: white;
      border: 2px solid black;
      cursor: pointer;
      padding: 1.4rem;
      width: 18rem;
      text-align: center;
      font-family: 'Work Sans', sans-serif;
      font-size: 1.8rem;
      border-radius: 1rem; }
    .shop--button__but:hover {
      background: black;
      color: white; }
  .shop--middle {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
    padding-right: 16%; }
    .shop--middle__img {
      height: 13rem; }
    .shop--middle__right {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .shop--middle__right--h2 {
        font-family: 'Work Sans', sans-serif;
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
        margin-left: 4rem;
        padding: 1rem; }

@media (min-width: 601px) and (max-width: 1129px) {
  .shop {
    width: 55rem; }
    .shop--h1 {
      font-size: 1.8rem; }
    .shop--button__but {
      font-size: 1.4rem; }
    .shop--middle {
      padding-left: 10%;
      padding-right: 10%; }
      .shop--middle__p {
        font-size: 1.3rem; }
      .shop--middle__right--h2 {
        font-size: 1.6rem; } }
.shop-join {
  height: 33rem;
  width: 80rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .shop-join--h1 {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 3rem;
    font-family: 'Coming Soon', cursive;
    letter-spacing: 0.2rem;
    -webkit-text-stroke: 1px black;
    text-align: center; }
  .shop-join--imgContainer {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem; }
    .shop-join--imgContainer__img {
      height: 8rem; }

.shop, .donate, .membership-join, .donate-join, .shop-join {
  display: none; }

/*# sourceMappingURL=style.css.map */
