

.partners-container{
    height: 18rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: #262626;
    border: 1px solid #262626;

    &--h3{
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__text{
            font-family: 'Work Sans', sans-serif;
            font-size: 1.6rem;
            color: white;
            text-align: center;
        }
    }

    &--logos{
        height: 60%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 40px;

        &__logo{
            height: 110px;
        }

        &__logo1{
            height: 100px;
        }

        &__logo2{
            height: 90px;
        }
    }
}



.footer-container{
    height: 25rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    background: #262626;

    &--row1{

        &__h3{
            font-family: 'Coming Soon', cursive;
            color: white;
            text-align: center;
            font-size: 1.7rem;
            max-width: 30ch;
        }

        &__socials{
            @include center-center;
            margin-top: 2rem;
            margin-left: 2rem;
            margin-right: 2rem;

            &--img1{
                color: white;
                font-size: 4rem;
                margin-right:1rem;
                margin-left: 1rem;
            }

            &--img1:hover{
                color: #23708a;
            }

            &--img2{
                color: white;
                font-size: 3.7rem;
                margin-right: 1rem;
                margin-left: 1rem;
            }

            &--img2:hover{
                color: #23708a;
            }

            &--img3{
                font-size: 4.2rem;
                color: white;
                margin-right:1rem;
                margin-left: 1rem;
            }

            &--img3:hover{
                color: #23708a;
            }

            &--img4{
                color: white;
                font-size: 3.7rem;
                margin-right:1rem;
                margin-left: 1rem;
            }

            &--img4:hover{
                color: #23708a;
            }
        }
    }

    &--row2{

        &__li{
            font-family: 'Work Sans', sans-serif;
            color: white;
            font-size: 1.7rem;
            text-align: center;
            padding: 0.8rem;
            letter-spacing: 0.2rem;
        }

        &__li:hover{
            color: #23708a;
        }
    }

    &--row3{
        display: flex;
        flex-direction: column;
        margin-right: 6%;

        &__h2{
            color: white;
            text-align: center;
            font-size: 2.4rem;
            padding: 2rem;
            font-family: 'Coming Soon', cursive;
        }

        &__li{
            font-family: 'Work Sans', sans-serif;
            color: white;
            font-size: 1.7rem;
            text-align: center;
            padding: 0.8rem;
            letter-spacing: 0.2rem;
        }

        &__li:hover{
            color: #23708a;
        }
    }
}



@media #{$mobile}{

    .partners-container{
        display: none;
    }

    .footer-container{
        display: none;
    }
}


@media #{$tablet}{

    .partners-container{
        display: none;
    }

    .footer-container{

        justify-content: space-around;

        &--row1{
            display: none;
        }
    
        &--row2{
    
            &__li{
                margin-left: 3rem;
                margin-top: 0.6rem;
            }
        }
    
        &--row3{
            margin-right: 0%;
        }
    }
}