@import "var";

.nav{
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8%;
    padding-right: 4%;
    background: url(../img/navBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__img{
        height: 6rem;
    }

    &__ul{
        display: flex;

        &--active{
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &--li{
            height: 100%;
            color: white;
            font-size: 1.7rem;
            font-family: 'Work Sans', sans-serif;
            letter-spacing: 0.2rem;
            padding-left: 1rem;
            padding-right: 1rem;
            padding: 2rem;
            margin-bottom: -1rem;
        }

        &--wave{
            height: 0.4rem;
        }
        
        li:hover{
            color: rgb(218, 218, 218);
        }

        &--support{
            color: white;
            font-size: 1.7rem;
            font-family: 'Coming Soon', cursive;
            -webkit-text-stroke: 1px white;
            letter-spacing: 0.1rem;
            background: orange;
            border-radius: 12px;
            padding: 2rem;
            margin-left: 3rem;
        }

        &--support:hover{
            color: orange;
            background: white;
            -webkit-text-stroke: 1px orange;
        }
    }
    
    &__hamburger{
        height: 2rem;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 5px solid white;
        border-bottom: 5px solid white;
        cursor: pointer;
        display: none;
    }
}






@media #{$mobile}{

}


@media #{$tablet}{

    .nav{
        padding-left: 8%;
        padding-right: 8%;
    
        &__img{
            height: 6rem;
        }
    
        &__ul{
            display: flex;
    
            &--active{
                display: none;

            }
    
            &--li{
                display: none;
            }
    
            &--wave{
                display: none;
            }
    
            &--support{
                display: none;
            }
        }
        
        &__hamburger{
            display: block;
        }
    }
}