@import "var";


.header-master{
    height: 25vh;
    width: 100vw;

    @include center-center;
    flex-direction: column;
    
    &--message{
        @include top-message;
    }

    img{
        margin-top: 4rem;
        height: 0.85rem;
    }
}

@media #{$mobile}{

    .header-master{
        
        &--message{
            font-size: 1.1rem;
            margin-left: 2%;
            margin-right: 2%;
            width: 60ch;
        }
        img{
            height: 0.8rem;
        }
    }
}

@media #{$tablet}{

    .header-master{
        
        &--message{
            font-size: 1.2rem;
            margin-left: 2%;
            margin-right: 2%;
        }
        img{
            height: 0.8rem;
        }
    }
}


// Begginings Container

.beginnings-master{
    height: 50vh;
    width: 100vw;
}

.beginnings-container{
    width: 100%;
    height: 100%;
    background: url(../img/underwater-near-ocean-surface-with-rising-bubbles-in-blue-sea-incredivfx.jpeg);
    @include background-image;
    display: flex;

    &--left{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        height: 100%;
        width: 60%;
        padding-left: 10%;
        padding-top: 2%;

        h1{
            font-family: 'Coming Soon', cursive;
            font-size: 4rem;
            color: white;
            letter-spacing: 0.2rem;
            margin-bottom: 5%;
        }

        p{
            font-family: 'Work Sans', sans-serif;
            font-weight: 300;
            font-size: 1.7rem;
            color: white;
            letter-spacing: 0.2rem;
            margin-right: 17%;
            line-height: 130%;
            width: 60ch;
        }
    }

    &--right{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 40%;
    }

    img{
        height: 80%;
        border-radius: 2%;

    }
}

@media #{$mobile}{

    .beginnings-container{
        &--left{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-top: 4%;
            margin: 0;
            padding: 0;
    
            h1{
                font-size: 3.4rem;
                margin-bottom: 5%;
            }
    
            p{
                font-size: 1.4rem;
                margin-right: 0%;
                width: 50ch;
                text-align: center;
            }
        }
    
        &--right{
            display: none;
        }
    }

}

@media #{$tablet}{

    .beginnings-container{
        &--left{
            width: 50%;
            padding-left: 5%;
            padding-top: 4%;
    
            h1{
                font-size: 3rem;
                margin-bottom: 5%;
            }
    
            p{
                font-size: 1.4rem;
                margin-right: 0%;
                width: 50ch;
            }
        }
    
        &--right{
            justify-content: flex-end;
            width: 40%;
        }
    
        img{
            height: 70%;
        }
    }
}


// Our Crew Container

.crew-master{
    height: 65vh;
    width: 100vw;
}

.crew-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    &--header{
        height: 30%;
        @include center-center;
        flex-direction: column;

        &__h2{
            font-size: 4.8rem;
            margin-top: 7rem;
            font-family: 'Coming Soon', cursive;
            letter-spacing: 0.2rem;
            -webkit-text-stroke: 1px black;
        }

        img{
            height: 8rem;
        }
    }

    &--profiles{
        height: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &__profile{
            text-align: center;
            
        }
        img{
            height: 22rem;
            width: 28rem;
            border-radius: 2%;
        }

        h2{
            margin-top: 2rem;
            font-size: 2rem;
            font-family: 'Work Sans', sans-serif;
            font-weight: 500;
            letter-spacing: 0.2rem;
        }

        h3{
            margin-top: 0.5rem;
            font-size: 1.5rem;
            font-family: 'Coming Soon', cursive;
            letter-spacing: 0.3rem;
            color: #23708a;

        }
    }
}

@media #{$mobile}{

    .crew-master{
        height: 190vh;
        width: 100vw;
    }
    
    .crew-container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding-top: 0;
    
        &--header{
            height: 22%;
            margin-bottom: 2rem;
            margin-top: 0;
            padding-top: 0;
    
            &__h2{
                margin-top: 0;
                padding-top: 0;
            }
        }
    
        &--profiles{
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
    
            img{
                height: 26rem;
                width: 32rem;
            }

            h3{
                margin-bottom: 4rem;
    
            }
        }
    }
}


@media #{$tablet}{

    .crew-master{
        height: 55vh;
        width: 100vw;
    }

    .crew-container{
        &--profiles{
            height: 70%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
    
            &__profile{
                text-align: center;
            }
            img{
                height: 18rem;
                width: 20rem;
            }
        }
    }
}



// Membership and Donations Container

.membershipDonation-master{
    height: 50vh;
    width: 100vw;
}

.membershipDonation-container{
    height: 100%;
    width: 100%;
    background: none;
    @include center-center;
    flex-direction: column;
    background: url(../img/dwdscvds.jpeg);
    @include background-image;
    background-color: rgb(77, 77, 77);

    &--h1{
        color: white;
        font-family: 'Work Sans', sans-serif;
        font-size: 4rem;
        letter-spacing: 0.8rem;
    }

    &--h3{
        color: white;
        font-family: 'Work Sans', sans-serif;
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 0.3rem;
        text-align: center;
        margin-left: 37rem;
        margin-right: 37rem;
        margin-top: 6rem;
        margin-bottom: 6rem;
        line-height: 130%;

    }

    &--button{
        color: white;
        background: none;
        border: 2px solid white;
        cursor: pointer;
        padding: 1.5rem;
        letter-spacing: 0.2rem;
        font-size: 2.2rem;
        font-family: 'Work Sans', sans-serif;
        width: 25rem;
    }

    &--button:hover{
        color: black;
        background: white;
    }
}


@media #{$mobile}{

    .membershipDonation-container{
 
        &--h1{
            font-size: 2.8rem;
            letter-spacing: 0.5rem;
        }
    
        &--h3{
            font-size: 2rem;
            margin-left: 5rem;
            margin-right: 5rem;
        }
    }

}


@media #{$tablet}{

    .membershipDonation-container{
 
        &--h1{
            font-size: 3.7rem;
            letter-spacing: 0.5rem;
        }
    
        &--h3{
            font-size: 2rem;
            margin-left: 7rem;
            margin-right: 7rem;
        }
    }
}