

// Membership

.membership-master{
    height: 60vh;
    width: 100vw;
}

.membership-container{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 0%;
}

.membership-topRow{
    display: flex;

    &--box1{
        background: lightgrey;
        border: 2px solid black;
        border-bottom: none;
        cursor: pointer;
        padding: 1.6rem;
        margin-right: 2rem;
        width: 20rem;
        text-align: center;
        
        &__h2{
            font-family: 'Work Sans', sans-serif;
            font-size: 2rem;
            letter-spacing: 0.2rem;
        }
    }

    &--box2{
        background: none;
        border: 2px solid black;
        border-bottom: none;
        cursor: pointer;
        padding: 1.6rem;
        margin-right: 2rem;
        width: 20rem;
        text-align: center;

        &__h2{
            font-family: 'Work Sans', sans-serif;
            font-size: 2rem;
            letter-spacing: 0.2rem;
        }
    }

    &--box3{
        background: none;
        border: 2px solid black;
        border-bottom: none;
        cursor: pointer;
        padding: 1.6rem;
        width: 20rem;
        text-align: center;

        &__h2{
            font-family: 'Work Sans', sans-serif;
            font-size: 2rem;
            letter-spacing: 0.2rem;
        }
    }
}

.membership-bottomBox{
    height: 45vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

    &--h1{
        font-family: 'Work Sans', sans-serif;
        font-size: 2rem;
        letter-spacing: 0.2rem;
        text-align: center;
        margin-bottom: 4rem;
    }

    &--button{
        display: flex;
        justify-content: center;
        align-items: center;

    button{
        background: white;
        margin-top: 2rem;
        border: 2px solid black;
        cursor: pointer;
        padding: 1.4rem;
        width: 18rem;
        text-align: center;
        font-family: 'Work Sans', sans-serif;
        font-size: 1.8rem;
    }
}

    &--middle{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;

        p{
            font-family: 'Work Sans', sans-serif;
            font-weight: 300;
            font-size: 1.2rem;
            letter-spacing: 0.2rem;
            width: 40ch;
        }

        &__right{
            display: flex;
            flex-direction: column;
            margin-left: 2rem;

            &--h2{
                font-family: 'Work Sans', sans-serif;
                font-size: 1.8rem;
                letter-spacing: 0.2rem;
                margin-left: 4rem;
                margin-bottom: 2rem;
            }
        }
    }
}

.donate-bottomBox{
    height: 45vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
    padding-top: 8.6rem;

    &--h1{
        font-family: 'Work Sans', sans-serif;
        font-size: 2rem;
        letter-spacing: 0.2rem;
        text-align: center;
        margin-bottom: 4rem;
    }

    &--button{
        display: flex;
        justify-content: center;
        align-items: center;

    button{
        background: white;
        margin-top: 2rem;
        border: 2px solid black;
        cursor: pointer;
        padding: 1.4rem;
        width: 22rem;
        text-align: center;
        font-family: 'Work Sans', sans-serif;
        font-size: 1.8rem;
    }
}

    &--middle{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;

        p{
            font-family: 'Work Sans', sans-serif;
            font-weight: 300;
            font-size: 1.2rem;
            letter-spacing: 0.2rem;
            width: 40ch;
        }

        &__right{
            display: flex;
            flex-direction: column;
            margin-left: 2rem;

            &--h2{
                font-family: 'Work Sans', sans-serif;
                font-size: 1.8rem;
                letter-spacing: 0.2rem;
                margin-left: 4rem;
                margin-bottom: 2rem;
            }
        }
    }
}


// show hide code

.shop-bottomBox, .donate-bottomBox{
    display: none;
}